description "django-app"

start on runlevel [2345]
stop on runlevel [016]


respawn
setuid nobody
setgid www-data

env SECRET_KEY='{{ SECRET_KEY }}'
env DB_NAME='{{ DB_NAME }}'
env DB_HOST='{{ DB_HOST }}'
env DB_USER='{{ DB_USER }}'
env DB_PASSWORD='{{ DB_PASSWORD }}'

env AWS_STORAGE_BUCKET_NAME='{{ AWS_STORAGE_BUCKET_NAME }}'
env AWS_ACCESS_KEY_ID='{{ AWS_ACCESS_KEY_ID }}'
env AWS_SECRET_ACCESS_KEY='{{ AWS_SECRET_ACCESS_KEY }}'

env EMAIL_HOST_PASSWORD='{{ EMAIL_HOST_PASSWORD }}'
env EMAIL_HOST_USER='{{ EMAIL_HOST_USER }}'
env DEFAULT_FROM_EMAIL='{{ DEFAULT_FROM_EMAIL }}'
env DEFAULT_TO_EMAIL='{{ DEFAULT_TO_EMAIL }}'

env SOCIAL_AUTH_GITHUB_KEY='{{ SOCIAL_AUTH_GITHUB_KEY }}'
env SOCIAL_AUTH_GITHUB_SECRET='{{ SOCIAL_AUTH_GITHUB_SECRET }}'
env SOCIAL_AUTH_TWITTER_KEY='{{ SOCIAL_AUTH_TWITTER_KEY }}'
env SOCIAL_AUTH_TWITTER_SECRET='{{ SOCIAL_AUTH_TWITTER_SECRET }}'


chdir /home/ubuntu/django-imager/imagersite/imagersite

exec /usr/bin/gunicorn wsgi:application
